<div class="osi-info left w-55">
    <h4>Office of Superintendent of Insurance</h4>
    Company Licensing Bureau<br>
    P.O. Box 1689<br>
    Santa Fe, New Mexico 87504-1689<br>
    1-505-827-4362
</div>
<div class="dates-info right w-45">
    <div class="left w-55">
        Date of this Notice
    </div>
    <div class="right w-45">
        01/04/2017
    </div>
    <div class="left w-55">
        Taxable Year Affected
    </div>
    <div class="right w-45">
        01/04/2017
    </div>
    <div class="left w-55">
        Total Amount Due By
    </div>
    <div class="right w-45">
        01/04/2017
    </div>
</div>

<div class="company-info left w-100">
    Berkshire Hathaway Life Insurance Company of Nebraska<br>
    1314 Douglas Street, Suite 1400<br>
    Omaha, Nebraska 68102-1944
</div>

<div class="notice-heading left w-100">
    NOTICE OF ANNUAL CONTINUATION OF CERTIFICATE OF AUTHORITY
</div>