@import "node_modules/jquery.growl/stylesheets/jquery.growl";
@import "node_modules/materialize-css/dist/css/materialize";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/material/material.woff2') format("woff2");
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

#clrewnew-search {

  .prefix ~ .input-wrapper {
    margin-left: 3rem;
    width: 92%;
    width: calc(100% - 3rem);
  }

  i.material-icons {
    top: 6px;
  }

   .card-content {
     font-size: 1.15em;
   }

  .btn-large i {
    font-size: 2.25em;
  }

  .card-image img {
    max-height: 120px;
  }

  .search-wrapper {

    .search-input {
      display: block;
      font-size: 16px;
      font-weight: 300;
      width: 100%;
      height: 45px;
      margin: 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 45px 0 15px;
    }
  }

  .btn.reset {
    line-height: 45px;
    height: 45px;
  }

  .btn-floating {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.24), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
}

.hidden {
  display: none;
}

/* TYPEAHEAD */

.twitter-typeahead {
  width: 100%
}

.typeahead,
.tt-query,
.tt-hint {
  line-height: 30px;
  outline: none;
  padding: 0 5px;
}

.typeahead {
  background-color: #fff;
  width: 100%;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-menu {
  width: 450px;
  margin: 5px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 2px solid #ccc;
  border: 2px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #444;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #444;
}

.tt-suggestion p {
  margin: 0;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 250px;
  overflow-y: auto;
}

.empty-message {
  padding: 0 20px;
  text-align: center;
}

.c1 {
  display: block;
  position: absolute;
  animation-iteration-count: infinite;
  outline: none;
  box-shadow: none;
  height: 96px;
  width: 96px;
  right: 4px;
  bottom: -48px;
  z-index: 0;
}

.d1 {
  border-radius: 50%;
  background-color: #f54336;
  position: absolute;
  height: 100%;
  width: 100%;

  animation-iteration-count: inherit;
  animation-name: a;
  animation-duration: 5s;
}

@keyframes a {
  0% {
    opacity: 0;
    transform: scale(.8);
  }
  58% {
    opacity: 0;
    transform: scale(.8);
  }
  60% {
    opacity: .6;
    transition-timing-function: linear;

  }
  80% {
    opacity: 0;
    transform: scale(1.2);
    transition-timing-function: linear;
  }
  100% {
    opacity: 0;
    transform: scale(.8);
  }
}































